* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: 'Poppins';
  line-height: 0;
}

body {
  background: #F6F6F9;
  padding-top: 80px;
}

.card {
  border: 0;
  border-radius: 15px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h3 {
  font-family: 'Exo 2';
  font-weight: 700;
  font-size: 34px;
}

header p {
  color: #535461;
  font-size: 16px;
  margin-top: 16px;
}

header .close {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 29px;
  cursor: pointer;
}

main {
  margin-top: 40px;
}

main .card-infos {
  padding: 40px 44px;
}

main .card-infos .infos {
  background: #F9F9FA;
  text-align: center;
  padding: 29px  36px;
}

main .card-infos .infos h3 {
  font-size: 30px;
  font-family: 'Exo 2';
}

main .card-infos .infos .tt-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

main .card-infos .infos .tt-infos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8F8F95;
  font-size: 16px;
}

main .card-infos .infos .tt-infos div i {
  font-size: 20px;
  color: #6C63FF;
  margin-top: -2.4px;
  margin-right: 6px;
}

form .tt-form-group {
  margin-bottom: 1em;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 100%;
}

form .tt-input-control {
  border: 1px solid #FFF;
  height: 74px;
  border-radius: 6px;
  padding: 0 26px;
  outline: 0;
  padding-top: 16px;
  width: 100%;
}

form .tt-label {
  font-size: 13px;
  color: #6A6A71;
  font-weight: 400;
  display: block;
  opacity: 1;
  -webkit-transform: translateY(-3.6em);
          transform: translateY(-3.6em);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  padding-left: 27px;
  padding-bottom: 5px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

form .tt-input-group-drop {
  background: #FFF;
  padding: 26px 26px;
  height: 190px;
  border-radius: 6px;
  margin: 12px 15px;
}

form .tt-input-group-drop label {
  font-size: 13px;
  color: #6A6A71;
  font-weight: 400;
}

form .tt-input-group-drop .dropzone {
  margin: 20px 0px;
  width: 100%;
  height: 121px;
  border: 2px dashed #6C63FF;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .tt-input-group-drop .dropzone i {
  font-size: 23px;
  padding-bottom: 5px;
  color: #584FE6;
}

form .tt-input-group-drop .dropzone h4 {
  color: #584FE6;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

form .tt-input-group-drop .dropzone .drop {
  width: 100%;
  height: 121px;
}

form .tt-input-group-drop .dropzone input {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */