* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    font-family: 'Poppins';
    line-height: 0;
}
body {
    background: #F6F6F9;
    padding-top: 80px;
}
.card {
    border: 0;
    border-radius: 15px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-family: 'Exo 2';
        font-weight: 700;
        font-size: 34px;
    }
    p {
        color: #535461;
        font-size: 16px;
        margin-top: 16px;
    }
    .close {
        width: 64px;
        height: 64px;
        border-radius: 64px;
        background: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 29px;
        cursor: pointer;
    }
}
main {
    margin-top: 40px;
    .card-infos {
        padding: 40px 44px;
        .infos {
            background: #F9F9FA;
            text-align: center;
            padding: 29px  36px;
            h3 {
                font-size: 30px;
                font-family: 'Exo 2';
            }
            .tt-infos {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 15px;
                div {
                    display: flex;
                    align-items: center;
                    color: #8F8F95;
                    font-size: 16px;
                    i {
                        font-size: 20px;
                        color: #6C63FF;
                        margin-top: -2.4px;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}
form {
    .tt-form-group {
        margin-bottom: 1em;
        transition: all .4s;
        width: 100%;
    }
    .tt-input-control {
        border: 1px solid #FFF;
        height: 74px;
        border-radius: 6px;
        padding: 0 26px;
        outline: 0;
        padding-top: 16px;
        width: 100%;
    }
    .tt-label {
        font-size: 13px;
        color: #6A6A71;
        font-weight: 400;
        display: block;
        opacity: 1;
        transform: translateY(-3.60em);
        transform-origin: 0 0;
        padding-left: 27px;
        padding-bottom: 5px;
        transition: all .4s;
    }
    .tt-input-group-drop {
        background: #FFF;
        padding: 26px 26px;
        height: 190px;
        border-radius: 6px;
        margin: 12px 15px;
        label {
            font-size: 13px;
            color: #6A6A71;
            font-weight: 400;
        }
        .dropzone {
            margin: 20px 0px;
            width: 100%;
            height: 121px;
            border: 2px dashed #6C63FF;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            i {
                font-size: 23px;
                padding-bottom: 5px;
                color: #584FE6;
            }
            h4 {
                color: #584FE6;
                font-size: 17px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .drop {
                width: 100%;
                height: 121px;
            }
            input {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                z-index: -1;
                opacity: 0;
            }
        }
    }
}